@model MVCPeopleAwards.Models.AwardViewModel

<tr data-award-id="@Model.Id">
    <td>
        @if (@Model.PhotoAward == null)
        {
            @Html.ActionLink("Нет фото", "GetAwardById", "Awards", new { id = @Model.Id }, new { @class = "awardItem" })
        }
        else
        {
            <a href="@Url.Action("GetAwardById", "Awards", new { id = @Model.Id })" class="awardItem" >
                <img width="75" height="75" src="@Url.Action("GetPhotoAward", "Awards", new { @Model.Id })" title=@Model.NameAward />
            </a>
        }
    </td>

    <td>
        @Html.DisplayFor(modelItem => @Model.NameAward)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.DescriptionAward)
    </td>

    @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("CandidateAdmin")))
    {
        <td>
            @Html.ActionLink("Изменить", "EditAward", new { id = @Model.Id }, new { @class = "btn btn-default" })        
            @*@Html.ActionLink("Изменить", "EditAward", "Awards", new { id = @Model.Id }, new { @id = "awardEdit", @class = "btn btn-default" })*@

            @using (Ajax.BeginForm("DeleteAward", "Awards", new { id = @Model.Id }, new AjaxOptions() { Confirm = "Удалить награду " + @Model.NameAward + "?", HttpMethod = "POST", OnSuccess = "OnAwardRemove", OnFailure = "OnError" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Id", @Model.Id)
                <input type="submit" value="Удалить" class="btn btn-danger" />
            }
        </td>
    }
</tr>


