@model MVCPeopleAwards.Models.PeopleViewModel

@* на общую верстку для списка Награжденных*@
@Html.Partial("~/Views/PeoplesAward/PartialView/LayoutPeople.cshtml")

<h3>Вы хотите удалить запись?</h3>

@* частичное представление для вывода информации о человеке*@
@Html.Partial("~/Views/PeoplesAward/PartialView/PeopleInfo.cshtml", Model)

<div>
    @using (Html.BeginForm("SaveDeletePeople", "PeoplesAward", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            @Html.ActionLink("Назад к списку", "Index") |
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
