@model MVCPeopleAwards.Models.PeopleModel

@{
    ViewBag.Title = "Удаление человека";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы хотите удалить запись?</h3>
<div>
    <h4>Человек</h4>
    <hr />

    @{
        if (Model.Error != null && Model.Error.Trim() != "")
        {
            <h4>@Model.Error.ToString()</h4>
            <hr />
        }
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPeople)
        </dt>
        <dd>
            @if (Model.PhotoPeople == null)
            {
                <div class="form-control-static">Нет фото</div>
            }
            else
            {
                <img width="75" height="75" src="@Url.Action("GetPhotoPeople", "PeoplesAward", new { Model.Id })" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDateStr)
        </dd>
    </dl>

    @using (Html.BeginForm("SaveDeletePeople", "PeoplesAward", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            @Html.ActionLink("Назад к списку", "Index") |
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
