@model MVCPeopleAwards.Models.PeopleViewModel

@* на общую верстку для списка Наград*@
@{
    Layout = "~/Views/PeoplesAward/PartialView/LayoutPeople.cshtml";
}

@* частичное представление для вывода информации о человеке*@
@Html.Partial("~/Views/PeoplesAward/PartialView/PeopleInfo.cshtml", Model)

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>

<p>
    @using (Html.BeginForm("CreatePeopleAward", "PeoplesAward", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" value=@Model.Id name="peopleId" />

        <div class="editor-label">
            @Html.LabelFor(m => m.SelectedAwardID)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedAwardID, @Model.Awards)
            @Html.ValidationMessageFor(m => m.SelectedAwardID, "", new { @class = "text-danger" })
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Добавить награду" class="btn btn-default" />
        </div>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Фото награды")
        </th>
        <th>
            @Html.DisplayName("Наименование награды")
        </th>
        <th>
            @Html.DisplayName("Описание награды")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PeopleAwards)
    {
        <tr>
            <td>
                @if (item.Award.PhotoAward == null)
                {
                    <div class="form-control-static">Нет фото</div>
                }
                else
                {
                    <img width="75" height="75" src="@Url.Action("GetPhotoAward", "Awards", new { item.Award.Id })" title = @item.Award.NameAward />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award.NameAward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award.DescriptionAward)
            </td>
            <td>
                @using (Html.BeginForm("DeletePeopleAward", "PeoplesAward", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" value=@item.Id name="id" />
                    <input type="hidden" value=@item.PeopleID name="peopleId" />

                    <div class="form-actions no-color">
                        <input type="submit" value="Удалить" class="btn btn-default" />
                    </div>
                }
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

