@model MVCPeopleAwards.Models.PeopleModelView

@{
    ViewBag.Title = "Список награжденных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список награжденных</h2>

@{
    if (Model.Error != null && Model.Error.Trim() != "")
    {
        <h4>@Model.Error.ToString()</h4>
        <hr />
    }
}

<p>
    @Html.ActionLink("Добавить запись", "CreatePeople")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Дата рождения")
        </th>
        <th>
            @Html.DisplayName("Возраст (лет)")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListPeople)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDateStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditPeople", new { id = item.Id }) |
                @Html.ActionLink("Награды", "EditPeopleAwards", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeletePeople", new { id = item.Id })
            </td>
        </tr>
    }
</table>

