@model MVCPeopleAwards.Models.AwardViewModel

@* частичное представление на общую верстку для справочника Награды*@
@Html.Partial("~/Views/Awards/PartialView/LayoutAwards.cshtml")

@using (Html.BeginForm("SaveAward", "Awards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PhotoMIMEType)
        @Html.HiddenFor(model => model.PhotoAward)
        @Html.HiddenFor(model => model.ImageIsEmpty)

        <div class="form-group">
            @Html.LabelFor(model => model.NameAward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameAward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameAward, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionAward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionAward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionAward, "", new { @class = "text-danger" })
            </div>
        </div>

        @* частичное представление на элемент Фото*@
        @Html.Partial("~/Views/Awards/PartialView/PhotoElement.cshtml", ViewData.Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Назад к списку", "Index", "Awards") |
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#photo').on('filecleared', function (event) {
            $('#ImageIsEmpty').val('true');
        });

        $('#photo').on('fileloaded', function (event) {
            $('#ImageIsEmpty').val('false');
        });
    </script>
}
