@model MVCPeopleAwards.Models.AwardViewModel

@* на общую верстку для списка Наград*@
@Html.Partial("~/Views/Awards/PartialView/LayoutAwards.cshtml")

<h3>Вы хотите удалить запись?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoAward)
        </dt>
        <dd>
            @if (Model.PhotoAward == null)
            {
                <div class="form-control-static">Нет фото</div>
            }
            else
            {
                <img width="75" height="75" src="@Url.Action("GetPhotoAward", "Awards", new { Model.Id })" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAward)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionAward)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionAward)
        </dd>

    </dl>

    @using (Html.BeginForm("SaveDeleteAward", "Awards", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            @Html.ActionLink("Назад к списку", "Index", "Awards") |
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }

</div>