@model MVCPeopleAwards.Models.AwardModel

@{
    ViewBag.Title = "Изменить запись";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменить запись</h2>

@using (Html.BeginForm("SaveEditAward", "Awards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Награда</h4>
        <hr />

        @{
            if (Model.Error != null && Model.Error.Trim() != "")
            {
                <h4>@Model.Error.ToString()</h4>
                <hr />
            }
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PhotoMIMEType)
        @Html.HiddenFor(model => model.PhotoAward)
        @Html.HiddenFor(model => model.ImageIsEmpty)

        <div class="form-group">
            @Html.LabelFor(model => model.NameAward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameAward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameAward, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionAward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionAward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionAward, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoAward, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.PhotoAward != null)
                {
                    <input id="photo" name="photo" type="file" class="file"
                           accept="image/jpg, image/png, image/jpeg"
                           data-language="ru"
                           data-show-upload="false"
                           data-max-file-size="2048"
                           data-max-file-count="1"
                           data-preview-file-type="text"
                           data-initial-preview="<img width='150' height='150' class='file-preview-image' src='@Url.Action("GetPhotoAward", "Awards", new { Model.Id })'/>" />
                }
                else
                {
                    <input id="photo" name="photo" type="file" class="file"
                           accept="image/jpg, image/png, image/jpeg"
                           data-language="ru"
                           data-show-upload="false"
                           data-max-file-size="2048"
                           data-max-file-count="1"
                           data-preview-file-type="text" />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Назад к списку", "Index") |
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
