@model MVCPeopleAwards.Models.ListAwardsViewModel

@* на общую верстку для списка Наград*@
@Html.Partial("~/Views/Awards/PartialView/LayoutAwards.cshtml")

<p>
    @Html.ActionLink("Добавить запись", "CreateEditAward", new { Id = 0 })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Фото награды")
        </th>
        <th>
            @Html.DisplayName("Наименование награды")
        </th>
        <th>
            @Html.DisplayName("Описание награды")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListAwards)
    {
        <tr>
            <td>
                @if (item.PhotoAward == null)
                {
                    <div class="form-control-static">Нет фото</div>
                }
                else
                {
                    <img width="75" height="75" src="@Url.Action("GetPhotoAward", "Awards", new { item.Id })" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NameAward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionAward)
            </td>
            <td>
                @Html.ActionLink("Изменить", "CreateEditAward", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeleteAward", new { id = item.Id })
            </td>
        </tr>
    }
</table>
